@page "/authordata"
@using BlazorComponents.Shared
@inject IAuthorService authorService
@inject NotificationService NotificationService
<PageTitle>Authors</PageTitle>

<h5>Radzen Datagrid Server-side Pagination</h5>
<hr />
@if (authors == null)
{
    <p>Loading...</p>
}
else
{

    <div class="card">
        <div class="card-header">
            Search Authors

            <div class="card-body">
                <RadzenTextBox @bind-Value=@filterText Placeholder="Search by FirstName OR LastName OR Email" Class="w-50" />
                <RadzenDatePicker Placeholder="Search by Birthdate" style="width: auto;" Name="BirthDate" @bind-Value=@dateNow DateFormat="dd-MM-yyyy" />
                <RadzenButton Image="images/search2.png" Text="Search" Click="@Search" ButtonStyle="ButtonStyle.Light" /><RadzenButton Text="Reset" Click="@Reset" Icon="refresh" ButtonStyle="ButtonStyle.Light" />

            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="row" Style="min-height:410px;">
                        <RadzenDataGrid Data="@authors" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                    TItem="AuthorDto" AllowFiltering="true" PagerPosition="PagerPosition.Bottom"
                                    AllowColumnResize="true" FilterMode="FilterMode.Advanced" Density="Density.Default" 
                                    LogicalFilterOperator="@FO"
                                    AllowSorting="true" AllowPaging="false" LoadData="@Grid0LoadData"
                                    Count="@Count" @ref="@grid0" PageSize="@PageSize">
                            <Columns>
                                <RadzenDataGridColumn TItem="AuthorDto" Property="FirstName" Title="First Name" />
                                <RadzenDataGridColumn TItem="AuthorDto" Property="LastName" Title="Last Name" />
                                <RadzenDataGridColumn TItem="AuthorDto" Property="Email" Title="Email" />
                                <RadzenDataGridColumn TItem="AuthorDto" Property="Birthdate" Title="Birth date"
                                                  Type="typeof(DateTime)" FormatString="{0:dd-MM-yyyy}" Width="8%" />
                            </Columns>
                        </RadzenDataGrid>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <RadzenPager ShowPagingSummary="true"
                                     PagingSummaryFormat="@pagingSummaryFormat" HorizontalAlign="HorizontalAlign.Center"
                                     Count="@Count" PageSize="@PageSize"
                                     PageNumbersCount="5" PageChanged="@PageChanged" />
                        </div>
                        <div class="col-sm-2 rz-paginator-summary" style="white-space:nowrap;">
                            Page Size: <RadzenDropDown Data="@(new int[]{10,20,30,40,50})" @bind-Value="@(this.PageSize)"
                                                   Name="Dropdown0" Change="@Dropdown0Change" Style="width: 50px; top:10px;" />

                        </div>
                        <div class="col-sm-2 rz-paginator-summary" style="white-space:nowrap; padding-top:10px;">
                            Filter: <RadzenSelectBar @bind-Value="@FO" TextProperty="Text" ValueProperty="Value"
                                                 Data="@(Enum.GetValues(typeof(LogicalFilterOperator)).Cast<LogicalFilterOperator>().Select(o => new { Text = $"{o}", Value = o }))"
                                                 Size="ButtonSize.Small" />

                            <RadzenButton Click=@(args => @OnRefreshClick()) Icon="refresh" ButtonStyle="ButtonStyle.Light" /> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@code {
    LogicalFilterOperator FO = LogicalFilterOperator.Or;

    DateTime? dateNow = null;// DateTime.Now;
    string pagingSummaryFormat = "Page {0} of {1} (total {2} records)";
    public IEnumerable<AuthorDto> authors;
    public AuthorDataResult authorsDataResult;
    protected RadzenDataGrid<AuthorDto> grid0;
    int _PageSize;
    bool pagechanged = false;

    bool getFiltered = false;
    string filterText = "";
    string orderby = "FirstName";
    string filter = "f";

    async void OnRefreshClick()
    {
        await grid0.Reload();
    }
    protected override async Task OnInitializedAsync()
    {
        PageSize = 10;
        Start = 0;
        Count = 0;

        authorsDataResult = await Task.Run(() => authorService.GetAll(Start, PageSize));
        authors = authorsDataResult.Authors;
        Count = authorsDataResult.Count;
    }

    async void PageChanged(PagerEventArgs args)
    {
        LoadDataArgs lArgs = new LoadDataArgs()
            {
                Skip = args.Skip,
                Top = args.Top
            };
        pagechanged = true;
        await Grid0LoadData(lArgs);
    }
    protected async Task LoadData(int skip, int take)
    {
        grid0.IsLoading = true;

        if (!getFiltered)
        {
            authorsDataResult = await Task.Run(() => authorService.GetAll(skip, take));
        }
        else
        {
            authorsDataResult = await Task.Run(() => authorService.Search(filterText, dateNow, skip, take));
        }

        authors = authorsDataResult.Authors;
        Count = authorsDataResult.Count;

        grid0.IsLoading = false;

        await InvokeAsync(() => { StateHasChanged(); });
    }
    protected async Task Grid0LoadData(LoadDataArgs args)
    {
        grid0.IsLoading = true;

        if (!string.IsNullOrEmpty(args.OrderBy))
        {
            orderby = args.OrderBy;
        }
        if (!string.IsNullOrEmpty(args.Filter))
        {
            filter = args.Filter;
        }

        authorsDataResult = await Task.Run(() => authorService.GridSearch(string.IsNullOrEmpty(filterText) ? "f" : filterText, dateNow, filter, orderby, Convert.ToInt32(args.Skip), Convert.ToInt32(args.Top)));

        authors = authorsDataResult.Authors;
        Count = authorsDataResult.Count;

        grid0.IsLoading = false;

        if (!pagechanged)
        {
            ShowNotification(new NotificationMessage
                {
                    Severity = NotificationSeverity.Info,
                    Summary = "",
                    Detail = " Found " + Count.ToString() + " records",
                    Duration = 4000
                });
        }
        await InvokeAsync(() => { StateHasChanged(); });
    }
    protected int PageSize
    {
        get
        {
            return _PageSize;
        }
        set
        {
            if (!object.Equals(_PageSize, value))
            {
                _PageSize = value;
                InvokeAsync(() => { StateHasChanged(); });
            }
        }
    }

    int _Start;
    protected int Start
    {
        get
        {
            return _Start;
        }
        set
        {
            if (!object.Equals(_Start, value))
            {
                _Start = value;
                InvokeAsync(() => { StateHasChanged(); });
            }
        }
    }

    int _Count;
    protected int Count
    {
        get
        {
            return _Count;
        }
        set
        {
            if (!object.Equals(_Count, value))
            {
                _Count = value;
                InvokeAsync(() => { StateHasChanged(); });
            }
        }
    }

    protected async Task Dropdown0Change(dynamic args)
    {
        LoadDataArgs lArgs = new LoadDataArgs()
            {
                Skip = Start,
                Top = PageSize
            };
        await Grid0LoadData(lArgs);
    }
    protected async Task Search()
    {
        getFiltered = true;
        LoadDataArgs lArgs = new LoadDataArgs()
            {
                Skip = Start,
                Top = PageSize
            };
        pagechanged = false;
        await Grid0LoadData(lArgs);
    }
    void ShowNotification(NotificationMessage message)
    {
        NotificationService.Notify(message);
    }
    protected async Task Reset()
    {
        getFiltered = false;
        filterText = "";
        dateNow = null;
        Start = 0;
        pagechanged = false;

        Count = 0;
        grid0.Reset();

        filter = "f";
        //authorsDataResult = await Task.Run(() => authorService.GetAll(Start, PageSize));
        //authors = authorsDataResult.Authors;
        //Count = authorsDataResult.Count;

        await grid0.Reload();
    }
}